/* Agrega esta línea para importar la fuente Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

/* Variables de color */
:root {
    --clr-main: #eb8110;
    --clr-main-dark: #ad5f0b;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-black: #040303;
}

/* Selector global para el margen, relleno, borde y fuente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a{
    color: var(--clr-black);
    text-decoration: none;
}

/* Otras reglas globales... */

/* Contenedor principal */
.container {
    min-width: 100%;
    /* O ajusta el ancho según tus necesidades */
}


/* Estilos para la barra de encabezado */
header {
    background-color: var(--clr-main); /* Cambiado a clr-gray para hacerlo visible */
    color: var(--clr-black);
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px
}

/* Secciones en la izquierda y derecha */
.left-section,
.right-section {
    display: flex;
    align-items: center;
}

/* Logo image submenu */
.logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
}

.logo img {
    height: 3.125rem;
    width: 1.875rem;
    margin-right: 0.625rem;
}

/* Language submenu */
.language-selector button,
.folder-selector button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-black);
}

.language-selector img,
.folder-selector img{
    height: 1.5rem;
    width: 1.5rem;
}

.language-selector button:focus,
.folder-selector button:focus{
    outline: none;
}

/* Folder submenu */
.folder-selector i {
    color: var(--clr-black);
}



/* Alineación horizontal de left sideS */
.left-side{
    display: flex;
    gap: 20px; /* Espaciado entre las secciones */
}


/* Right side - About-us submenu */
.user-guide-selector {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.user-guide img {
    height: 1.5rem;
    width: 1.5rem;
}

.user-guide-selector img {
    margin-right: 0.625rem; /* Ajusta el margen según sea necesario */
}

.user-guide{
    display: flex;
    align-items: center;
}

/* Right side - Certifications submenu */
.certifications-selector {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.certifications img {
    height: 1.5rem;
    width: 1.5rem;
}

.certifications-selector img {
    margin-right: 0.625rem; /* Ajusta el margen según sea necesario */
}

.certifications{
    display: flex;
    align-items: center;
}

/* Right side - UserProfile submenu */
.user-profile-selector {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.user-profile img {
    height: 1.5rem;
    width: 1.5rem;
}

.user-profile-selector button {
    background: none; /* Fondo transparente */
    border: none; /* Sin bordes */
    padding: 0; /* Sin relleno */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-profile-selector img {
    margin-right: 0.625rem; /* Ajusta el margen según sea necesario */
}

.right-side {
    display: flex;
    gap: 20px; /* Espaciado entre las secciones derechas */
    margin-left: auto; /* Empuja las secciones de la derecha al extremo derecho */
}

/* Left side menu bar design */
aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
